
.left_side_menu {
  position: relative;
  float: left;
  width: 100%;
  height: 1100px;
  max-width: 320px;

  background-color: $color_grey_1;

  .server_controls_container {
    height: 395px;
    width: 100%;
    padding: {
      top: 19px;
    }
    margin: {
      left: auto;
      right: auto;
    }

    .btn-box {
      width: 50%;
      float: left;
      text-align: center;
      span {
        margin: {
          top: 40px;
        }

        display: block;
        color: $color_grey_5;
        -webkit-transition: all 0.3s ease-in-out; /* Safari */
        transition: all 0.3s ease-in-out;
      }
      span:hover {
        cursor: pointer;
        & + a {
          color: $color_white;
        }
      }

      a:hover {
        & + span {
          color: $color_white;
        }
      }
    }
  }

  .app_list_container {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;

    .list_title {
      position: absolute;
      top: -28px;
      left: 33px;

      font-size: 14px;
      color: $color_grey_0;
      text-transform: capitalize;
    }

    .app_box {
      height: 60px;
      width: 315px;
      display: table;
      position: relative;
      border-bottom: 1px solid transparent;
      background-color: $color_grey_2;
      border-left: 5px solid transparent; //each app item must overwrite this prop

      .app_title {
        color: $color_white;
        font-size: 16px;
        vertical-align: middle;
        display: table-cell;
        text-transform: capitalize;
        padding: {
          left: 31px;
        }
      }
      .btns_container {
        position: absolute;
        top: 13px;
        right: -16px;

        a:first-child {
          margin: {
            right: 9px;
          }
        }
      }
    }

    .app_box_hadoop {
      @extend .app_box;
      border-left-color: $color_1;
      .btn-add{
        border-color:transparent;

        background: -webkit-linear-gradient(left top,$color_6, $color_1); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom right, $color_6, $color_1); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom right, $color_6, $color_1); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom right, $color_6, $color_1); /* Standard syntax */

        &:hover{

        }
      }
    }
    .app_box_rails {
      @extend .app_box;
      border-left-color: $color_2;
      .btn-add{
        border-color:transparent;
        background: -webkit-linear-gradient(left top,$color_7, $color_2); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom right, $color_7, $color_2); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom right, $color_7, $color_2); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom right, $color_7, $color_2); /* Standard syntax */
        &:hover{

        }
      }
    }
    .app_box_chronos {
      @extend .app_box;
      border-left-color: $color_3;
      .btn-add{
        border-color:transparent;

        background: -webkit-linear-gradient(left top,$color_8, $color_3); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom right, $color_8, $color_3); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom right, $color_8, $color_3); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom right, $color_8, $color_3); /* Standard syntax */
      }
    }
    .app_box_storm {
      @extend .app_box;
      border-left-color: $color_4;
      .btn-add{
        border-color:transparent;
        background: -webkit-linear-gradient(left top,$color_9, $color_4); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom right, $color_9, $color_4); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom right, $color_9, $color_4); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom right, $color_9, $color_4); /* Standard syntax */
      }
    }

    .app_box_spark {
      @extend .app_box;
      border-left-color: $color_5;
      .btn-add{
        border-color:transparent;
        background: -webkit-linear-gradient(left top,$color_10, $color_5); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom right, $color_10, $color_5); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom right, $color_10, $color_5); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom right, $color_10, $color_5); /* Standard syntax */
      }
    }

  }
}