$color_1 : #f707a5;
$color_2 : #3c2dee;
$color_3 : #01aafd;
$color_4 : #2ce19c;
$color_5 : #69fa1a;

$color_white : #fff;

$color_grey_0 : #646464;
$color_grey_1: #1e1e1e;
$color_grey_2 : #141414;
$color_grey_3 : #190117;//text
$color_grey_4 : #323232;
$color_grey_5: #5d5d5d;

$color_black : #000;